<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>Add Book</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Edit Book</h1>
  <form th:action="@{/books/edit}" th:object="${book}" method="post">
    <input type="hidden" th:field="*{id}">


    <div class="col-6 mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" th:field="*{title}" class="form-control" id="title">

    </div>


    <div class="col-6 mb-3">
      <label for="author" class="form-label">Author:</label>
      <input type="text" th:field="*{author}" class="form-control" id="author">

    </div>


    <div class="col-6 mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="text" th:field="*{price}" class="form-control" id="price">

    </div>


    <div class="col-6 mb-3">
      <label for="category" class="form-label">Category:</label>
      <select class="form-control" id="category" name="category.id">
        <option value="">-- Select Category --</option>
        <option th:each="category : ${categories}" th:value="${category.id}"
                th:text="${category.name}"></option>
      </select>


    </div>


    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  <br>
  <a th:href="@{/books}">Back to List</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</div>
</body>
</html>